.navBar {
  @apply absolute w-full top-0 z-50 py-8;
}
.navFixed {
  @apply fixed bg-white w-full top-0 z-50 py-8;
  box-shadow: 0px 0px 18px 1px rgb(0 0 0 / 10%);
}
.brand {
  @apply flex items-center justify-between;
}
.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  @apply ml-4 md:ml-8 font-extrabold uppercase  text-white;
}
.back {
  @apply md:mr-8 relative text-xs font-normal px-3 text-white uppercase font-Raleway py-0;
}
.back::before {
  content: '';
  width: 63%;
  @apply absolute  h-0.5 -bottom-1 bg-white;
}
.bannerBlog {
  height: 50vh;
  background-color: rgba(34, 34, 34, 1);
  @apply relative;
}
.bannerCaption {
  @apply absolute top-1/3  w-full text-center font-sans;
}
.bannerCaption h1 {
  font-size: 32px;
  @media (min-width: 768px) {
    font-size: 40px;
  }
  @apply text-white lg:text-5xl mb-2 font-bold uppercase;
}
.pageOption {
  @apply mt-4 md:mt-6;
}
.pageOption a {
  margin: 0px 10px;
  font-size: 14px;
  @apply text-white font-thin inline-block my-0  relative uppercase;
}
.pageOption .beforeProp::before {
  content: '/';
  right: -15px;
  @apply absolute;
}
.blogList {
  padding-top: 100px;
  padding-bottom: 50px;
  // @apply pt-[100px] pb-[50px];
}
.items {
  padding: 0px 15px;
  @apply flex flex-wrap h-full w-full lg:px-20 justify-center;
}
.items img {
  @apply w-full duration-500 ease-in-out overflow-auto;
  &:hover {
    @apply transform scale-110 duration-500 ease-in-out;
  }
}
.imgStyle {
  height: 44%;
  // @apply h-[44%];
}
.custom {
  @apply overflow-hidden flex;
}
.blogPageContent {
  padding: 20px 15px;
  @apply bg-white h-auto;
}
.blogPageContent h3 {
  line-height: 1.2;
  font-size: 20px;
  background-color: rgba(34, 34, 34, 1);
  margin-bottom: 15px;
  @apply text-textColor-skin-base mt-0 font-semibold font-Raleway;
}
.blogPageContent p {
  line-height: 1.65;
  height: 5rem;
  @media (min-width: 768px) {
    height: 7rem /* 112px */;
  }
  @apply text-textColor-skin-dull text-base pb-4 md:pb-9 mb-0 border-b border-0 border-gray-100 border-solid line-clamp-3 md:line-clamp-4 font-sans font-thin;
}
.blogPageMeta {
  padding-top: 15px;
  @media (min-width: 768px) {
    padding-top: 20px;
  }
  @media (min-width: 1024px) {
    padding-top: 15px;
  }
  @apply h-auto flex justify-between;
}
.more {
  border-color: rgba(170, 170, 170, 1);
  @apply text-black border-b border-0 border-solid font-semibold text-xs;
}
.date {
  color: rgba(116, 129, 130, 1);
  @apply float-right text-xs;
}
