.basic {
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  animation: spin 1s linear infinite;
  margin-left: -0.25rem;
  margin-right: 0.75rem;
  height: 1.25rem;
  width: 1.25rem;
  color: white;

  // @apply animate-spin -ml-1 mr-3 h-5 w-5 text-white;
  & > circle {
    opacity: 0.25;
    // @apply opacity-25;
  }
  & > path {
    opacity: 0.75;
    // @apply opacity-75;
  }
}
