.banner {
  background-image: url(/laptop.jpg);
  @apply h-screen bg-cover;
  @media only screen and (max-width: 990px) {
    background-image: url(/banner.jpg);
  }
  @media only screen and (max-width: 590px) {
    background-image: url(/small.jpg);
  }
}

.banner::after {
  content: '';
  @apply inset-0 bg-black opacity-50 absolute z-0;
}

.containerH {
  .rotating {
    @apply absolute text-[25px] z-[1] text-textColor-skin-inverted font-Raleway xs:top-[45%] xs:left-[4%] sm:top-[60%] sm:left-[5%] md:top-[63%] lg:pl-24;
  }
  @apply container;
}
.caption {
  @apply absolute z-[9] top-[24%] md:top-[33%] left-[5%] lg:pl-24;
  & h1 {
    @apply m-0 text-textColor-skin-inverted font-black font-Raleway text-[46px] md:text-[75px] lg:text-[88px];
  }
  & h2 {
    @apply text-textColor-skin-inverted-dull font-Raleway  mt-12;
  }
}
// .rotating {
//   @apply;
// }

// .header {
//   @apply text-[46px] md:text-[75px] lg:text-[88px];
// }
.desc {
  @apply text-[17px] md:text-[21px] lg:text-[24px] mt-0 md:-mt-8 lg:-mt-12;
}
.caption b {
  @apply opacity-100;
}
.caption b + b {
  @apply opacity-0;
}
.arrow {
  @apply absolute bottom-[6vh] z-20 xs:pl-12 lg:pl-52 animate-bounce;
}
.arrow img {
  @apply text-white w-16;
}
