// blog card style
.cardBlog {
  // @media (min-width: 1024px) and (max-width: 768px) {
  //   min-height: 55vh;
  //   // width: 25%;
  // }
  // @media (min-width: 768px) and (max-width: 640px) {
  //   min-height: 49vh;
  //   // min-width: 50%;
  //   // width: 4.666667%;
  //   margin: 2rem 1rem;
  // }
  // @media (min-width: 640px) and (max-width: 320px) {
  //   min-height: 30vh;
  //   // width: 75%;
  // }
  @apply overflow-hidden w-full;
  // box-shadow: 0px 0px 30px -4px rgb(0 0 0 / 20%);
  // min-height: 50vh;
}

// card portfolio style
.cardPort {
  @media (min-width: 640px) {
    // width: 40rem;
    // height: 35rem;
  }

  @apply px-0 py-2 sm:p-1 md:p-2;
  :hover {
    .hoverPort {
      @apply opacity-80 transform;
    }
  }
}

.cardPort img {
  @apply cursor-pointer w-full h-full;
}

// @media (max-width: 640px) {
//   .cardPort {
//     width: 30re;
//   }
// }

.hoverPort {
  // height: 90%;
  // width: 90%;
  @apply cursor-pointer bg-gray-50 opacity-0 absolute flex
    justify-center items-center inset-0 m-auto duration-500;
}

// blog card style
.cardBlog {
  margin-bottom: 3rem;
  overflow: hidden;
  width: 100%;
  // box-shadow: 0px 0px 30px -4px rgb(0 0 0 / 20%);
}

.cardService {
  // margin-bottom: 3rem;
  // overflow: hidden;
  // width: 100%;
  // padding: 10%;
  min-height: 40vh;
  @apply bg-backgroundColor-skin-button_service rounded-xl p-3 m-0 duration-300;
  &:hover {
    box-shadow: 30px 20px 30px rgb(154, 154, 154);
    transition-duration: 500ms;
  }
}
@media (min-width: 960px) and (max-width: 1024px) {
  .cardService {
    min-height: 50vh;
  }
}
@media (min-width: 768px) and (max-width: 960px) {
  .cardService {
    min-height: 44vh;
  }
}
@media (min-width: 640px) and (max-width: 768px) {
  .cardService {
    min-height: 52vh;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  .cardService {
    min-height: 30vh;
  }
}

// card portfolio style
.cardPort {
  width: fit-content;
  height: fit-content;
  @media (min-width: 1024px) {
    width: fit-content;
  }
  @media (min-width: 640px) {
    width: fit-content;
  }
  padding: 0.5rem 0rem;
  :hover {
    .hoverPort {
      opacity: 0.8;
      // @apply opacity-80 translate-y-11 transform;
    }
  }
}

.cardPort img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.hoverPort {
  height: 90%;
  width: 90%;
  cursor: pointer;
  background-color: rgba(249, 250, 251, 1);
  opacity: 0;
  display: flex;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0rem;
  position: absolute;
  margin: auto;
  transition-duration: 500ms;
}
