.Service {
  background-color: rgba(242, 242, 242, 1);
  padding: 7% 0%;
  @apply text-center;
}
// lg:p-14 sm:p-4 xs:p-2

.headsec h1 {
  @apply mt-1;
}

.cardService {
  // width: ;
  min-height: 50vh;
  @apply bg-backgroundColor-skin-button_service rounded-xl p-3 m-0 duration-300;
  &:hover {
    > Button {
      box-shadow: 10px 10px 10px rgb(154, 154, 154);
      // transform: translateZ(40rem);
      transition-duration: 500ms;
    }
  }
}

@media (min-width: 960px) and (max-width: 1024px) {
  .cardService {
    min-height: 40vh;
  }
}
@media (min-width: 768px) and (max-width: 960px) {
  .cardService {
    min-height: 50vh;
  }
}
@media (min-width: 640px) and (max-width: 768px) {
  .cardService {
    min-height: 65vh;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  .cardService {
    min-height: 30vh;
  }
}

.topBottom {
  @apply my-4;
}

.mainbox {
  // @apply flex gap-10 py-10 lg:flex-col sm:flex-col xs:flex-col sm:gap-10 sm:px-[10px] md:gap-12 md:px-[60px] lg:px-[160px] lg:gap-12;
  @apply flex justify-center md:flex-row sm:flex-row xs:flex-col  gap-10 m-10;
}

.divRow {
  @apply flex lg:flex-row md:flex-col xs:flex-col sm:flex-col;
}

.box {
  @apply flex flex-col lg:w-1/4 w-full justify-center lg:m-3;
}
