.alignment {
  background-color: rgba(242, 242, 242, 1);
  padding: 70px 60px;
  @media (min-width: 1024px) and (max-width: 768px) {
    padding: 50px 200px;
  }
  @media (min-width: 768px) and (max-width: 640px) {
    padding: 50px 70px;
  }
  @media (min-width: 640px) and (max-width: 320px) {
    padding: 50px 30px;
  }
  @media (min-width: 320px) and (max-width: 640px) {
    padding: 50px 0px;
  }
  @apply h-screen;
  // @apply py-[70px] lg:px-[200px] md:px-[70px] sm:px-[50px]
}

.textAlign {
  @apply text-center;
}

.leftbox {
  @apply flex md:flex-row xs:flex-col xs:items-center my-14;
}

.leftsubbox {
  background-color: rgba(229, 229, 229, 1);
  @apply py-5 pl-5 sm:mr-5 sm:w-3/5 xs:w-11/12 rounded-xl;
}

.leftTextAlign {
  @apply leading-none pb-1  text-black;
}

.bars {
  @apply flex items-center gap-4 px-5;
}

.baralign {
  @apply flex flex-col w-full;
}

.percentfield {
  @apply text-3xl font-black text-black mt-8;
}

.bar {
  background-color: #0b0b131a;
  @apply relative;
}

.ht {
  background-color: #333333;
  @apply h-3  animate-pulse;
}
.ht2 {
  background-color: #333333;
  @apply w-4/5 h-3  animate-pulse;
}
.ht3 {
  background-color: #333333;
  width: 72%;
  @apply h-3  animate-pulse;
}
.ht4 {
  background-color: #333333;
  width: 85%;
  @apply h-3  animate-pulse;
}

.viewMore {
  // background-color: #333333;
  @apply flex-1 flex justify-center items-center;
}

.block {
  @apply w-full flex-col;
}
