.portEduPercent {
  @apply text-3xl font-semibold font-opensans text-textColor-skin-base mt-8;
}

.portLogoText {
  font-family: 'Montserrat', sans-serif;
  @apply font-extrabold text-3xl m-0 text-textColor-skin-inverted uppercase z-50 absolute;
}

.portNavText {
  @apply text-sm font-normal font-Raleway uppercase;
}

.portHeaderText {
  font-size: 88px;
  @apply text-textColor-skin-base font-black font-Raleway;
}
.portHeaderHomeText {
  @apply text-textColor-skin-inverted font-black font-Raleway;
}
.portHeaderCaption {
  @apply text-textColor-skin-dull font-Raleway;
}

.portHeaderCaptionBold {
  @apply text-2xl font-bold font-Raleway text-textColor-skin-dull;
}

.portHeadingText {
  @media (min-width: 1024px) {
    font-size: 32px;
  }
  @media (min-width: 1024px) {
    font-size: 31px;
  }
  @media (min-width: 640px) {
    font-size: 30px;
  }
  @media (min-width: 320px) {
    font-size: 24px;
  }
  @apply text-textColor-skin-base font-semibold m-0 uppercase font-Raleway;
}

.portHeadingCaption {
  @apply uppercase text-base m-0 text-textColor-skin-base  font-medium font-Raleway;
}

.portParaText {
  @apply text-base text-textColor-skin-dull font-thin leading-6 font-opensans;
}

.portAboutCaption {
  @apply text-xl font-Raleway text-textColor-skin-base;
}

.portParaAboutText {
  @apply text-base text-textColor-skin-dull font-thin leading-7 font-opensans;
}

.portButtonText {
  @apply text-sm font-semibold uppercase  font-Raleway;
}

.portServiceSubHeadingText {
  @apply text-textColor-skin-base font-semibold text-lg uppercase font-Raleway;
}

.portCounterText {
  @apply text-3xl font-extrabold   font-Raleway;
}

.portCounterCaption {
  @apply text-base font-semibold   font-opensans;
}

.portCardHeaderText {
  @apply text-textColor-skin-base text-base font-semibold font-Raleway;
}

.portCardReadText {
  @apply text-sm font-Raleway  font-semibold  text-textColor-skin-copyright border-b-2 border-gray-600;
}

.portHeaderTextPCard {
  @apply text-3xl font-Raleway mt-0 font-bold text-center;
}

.portCardDateText {
  @apply text-sm font-Raleway  font-semibold  text-textColor-skin-date;
}

.portTestimonialText {
  @apply text-textColor-skin-inverted text-2xl font-Raleway font-semibold m-0;
}
.portCommentText {
  @apply text-textColor-skin-base text-2xl font-Raleway font-semibold m-0;
}

.portTestimonialPText {
  @apply text-base font-sans text-textColor-skin-inverted;
}
.portEduLeftText {
  @apply font-sans text-textColor-skin-base;
}

.portTestimonialRoleText {
  @apply text-textColor-skin-dull text-sm font-Raleway font-semibold mt-2;
}

.portContactHeadingText {
  @apply font-Raleway  text-base font-bold text-textColor-skin-inverted;
}

.portContactDetailText {
  @apply font-opensans  text-sm text-textColor-skin-inverted;
}
.portCommentdetailText {
  @apply font-opensans  text-sm text-textColor-skin-base;
}
.portFooterText {
  @apply font-opensans  text-sm text-textColor-skin-copyright;
}

.portFilterText {
  @apply text-textColor-skin-base text-sm font-Raleway uppercase;
}

.portHoverCardText {
  @apply text-textColor-skin-base text-xl font-semibold font-Raleway text-center;
}
.portSingleBlog {
  @apply font-semibold md:text-5xl sm:text-4xl xs:text-3xl m-0 uppercase font-Raleway;
}

.portSingleBlogText {
  @apply text-textColor-skin-base font-semibold text-3xl m-0 uppercase font-Raleway;
}
